# Игнорирование виртуального окружения
venv/
env/

# Игнорирование базы данных
*.db
*.sqlite3

# Игнорирование файлов кэша Python
__pycache__/
*.pyc

# Игнорирование секретных файлов
cert.pem
key.pem

# Игнорирование папки миграций (если используете Flask-Migrate, можно оставить её, если не хотите)
#migrations/
